.App {
  text-align: center;
}

.App-header {
  background-color: #0d1421;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

form{ 
  display: flex;
  flex-direction: column;
}
form div {
  flex:1;
  display: flex;
}
form div input, form div label {
  flex:1;

}
.Nested-header {
  background-color: #ffffff30;
  display: flex;
  width:100vw;
}
.Nested-header2 {
  background-color: #ef050530;
  display: flex;
  width:100vw;
}

.row {
  display: flex;
  flex-direction: row;
  flex:1;
}
.api-header {
  display: flex;
  flex-direction: row;
  width:100vw;
  flex-wrap: wrap;
  
}